<!DOCTYPE html>
<!--

    =========================================
    Design and Development of Secure Software
    ============= MSI 2019/2020 =============
    ======== Practical Assignment #2 ========
    ================ Part #1 ================
    =========================================

      Department of Informatics Engineering
              University of Coimbra          
   
    simaosousa@student.dei.uc.pt
   
-->
<html>
    <head>
        <title>DDSS PA2 - Part 1</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self';">

    </head>
    <body>
        <div align="center">

            <h1>Design and Development of Secure Software</h1>
            <h2>Practical Assignment #2</h2>
            <div align="center">
                DISCLAIMER: This code is to be used in the scope of the <em>DDSS</em> course. <br><br>
                Work developed by <em>Simão Sousa</em> for the <em>Practical Assignment #2</em>.
            </div>
            <br>
            <br>

            <a href="part1.html"  >Part 1.1</a> <br /> 
            <a href="part2.html"  >Part 1.2</a> <br /> 
            <a href="part3.html"  >Part 1.3</a> <br /> 

        </div>
    </body>
</html>
