<!DOCTYPE html>
<!--

    =========================================
    Design and Development of Secure Software
    ============= MSI 2019/2020 =============
    ======== Practical Assignment #2 ========
    ================ Part #1 ================
    =========================================

      Department of Informatics Engineering
              University of Coimbra          
   
    Prof. Marco Vieira <mvieira@dei.uc.pt>
    Prof. Nuno Antunes <nmsa@dei.uc.pt>
   
-->
<html>
    <head>
        <title>DDSS PA2 - Part 1.1</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--
            V2 info:
            - corrected a few naming bugs in the inputs
            - fixed a few syntax issues in the HTML
            - added some explanations
        -->
        <style>
            .form-table {
                background-color: #f1f1f1;
            }
            
            .form-table-correct {
                background-color: #f19191;
            }
        </style>
        <script>
            function togglePasswordVisibility(inputId, checkboxId) {
                var passwordInput = document.getElementById(inputId);
                var checkbox = document.getElementById(checkboxId);
                if (checkbox.checked) {
                    passwordInput.type = "text";
                } else {
                    passwordInput.type = "password";
                }
            }
        </script>
    </head>
    <body>
        <div align="center">

            <h1>Design and Development of Secure Software</h1>
            <h2>Practical Assignment #2 - Part 1.1</h2>
            <br>
            <br>
            <form action="/part1_register">
                <table class="form-table" border="1" cellpadding="1">
                    <thead>
                        <tr>
                            <th colspan="2"><b>Register Form</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><label>Username</label></td>
                            <td><input type="text" placeholder="Enter Username" name="r_username" required></td>
                        </tr>
                        <tr>
                            <td><label>Password</label> </td>
                            <td>
                                <input type="password" placeholder="Enter Password" name="r_password" id="r_password" required>
                                <div class="form-checkbox">
                                    <input type="checkbox" id="r_show_password" onclick="togglePasswordVisibility('r_password', 'r_show_password')"> 
                                    <label for="r_show_password">Show Password</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-actions" colspan="2"><button type="submit">Register</button></td>
                        </tr>
                    </tbody>
                </table>
            </form>

            <br>
            <br>

            <form action="/part1_vulnerable">
                <table class="form-table" border="1" cellpadding="1">
                    <thead>
                        <tr>
                            <th colspan="2"><b>Part 1.0 - Vulnerable Form</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><label>Username</label></td>
                            <td><input type="text" placeholder="Enter Username" name="v_username" required></td>
                        </tr>
                        <tr>
                            <td><label>Password</label> </td>
                            <td>
                                <input type="password" placeholder="Enter Password" name="v_password" id="v_password" required>
                                <div class="form-checkbox"></div>
                                    <input type="checkbox" id="v_show_password" onclick="togglePasswordVisibility('v_password', 'v_show_password')"> 
                                    <label for="v_show_password">Show Password</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Remember me</label></td>
                            <td><input type="checkbox" checked="checked" name="v_remember"></td>
                        </tr>
                        <tr>
                            <td class="form-actions" colspan="2"><button type="submit">Login</button></td>
                        </tr>
                    </tbody>
                </table>
            </form> 

            <br>
            <br>

            <form action="/part1_correct" method="POST">
                <table class="form-table-correct" border="1" cellpadding="1">
                    <thead>
                        <tr>
                            <th colspan="2"><b>Part 1.1 - Correct Form</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><label>Username</label></td>
                            <td><input type="text" placeholder="Enter Username" name="c_username" required></td>
                        </tr>
                        <tr>
                            <td><label>Password</label> </td>
                            <td>
                                <input type="password" placeholder="Enter Password" name="c_password" id="c_password" required>
                                <div class="form-checkbox">
                                    <input type="checkbox" id="c_show_password" onclick="togglePasswordVisibility('c_password', 'c_show_password')"> 
                                    <label for="c_show_password">Show Password</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Remember me</label></td>
                            <td><input type="checkbox" checked="checked" name="c_remember"></td>
                        </tr>
                        <tr>
                            <td class="form-actions" colspan="2"><button type="submit">Login</button></td>
                        </tr>
                    </tbody>
                </table>
            </form> 
        </div>
    </body>
</html>